<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<meta name="description" content="<%= metadata.description %>" />
<meta property="twitter:title" content="<%= resource.data.title %>%>" />
<meta property="twitter:description" content="<%= resource.data.description %>" />
<meta property="twitter:image" content="<%= resource.data.image %>" />
<meta name="twitter:card"  content="sumary_large_image" />
<meta name="twitter:site" content="@<%= site.metadata.twitter %>" />
<% resource_title = strip_html(strip_newlines(title)) %>
<title><% if resource_title != "Index" %><%= resource_title %> | <%= metadata.title %><% else %><%= metadata.title %>: <%= metadata.tagline %><% end %></title>
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.7/css/all.css">
<link rel="stylesheet" href="<%= webpack_path :css %>" />
<script src="<%= webpack_path :js %>" defer></script>
<%= live_reload_dev_js %>
